.display {
    display: flex;
    justify-content: space-between;
    border: 2px solid #000;
    border-radius: 6px;
    font-size: 1.6rem;
    width: 30%;
    margin: 0 auto;
}

 p {
     align-self: center;
     padding: 5px;
 }

.delete {
    padding: 5px 1rem;
    background-color: #b31c1c;
    color: #fff;
    margin-left: 5px;
}
